.ContainerLoginAdmin{
   width: 100%;
   margin: 0;
   height: 100%;
   position: absolute;
   left: 0;
   overflow: hidden;
   background-image: linear-gradient( green, blue);
}
.container-image{
   float: left;
   margin-top: 3%;
   margin-left: 3%;
   width: 30%;
   height: 60%;
   /* border: 1px solid black; */
}
.containerr{
   border-radius: 40px;
   margin: auto;
   margin-top: 5%;
   height: 80%;
   width: 80%;
   /* border: 1px solid black; */
   background-color: white;
}
.image{
   height: 640px;
   width: 640px;
}
.LoginAdmin{
   float: right;
   
   margin-top: 8%;
   margin-right: 8%;
   /* border: 1px solid black; */
   width: 30%;
   height: 60%;
}
.TitleLoginAdmin{
   font-weight: 600;
   font-size: 50px;
   text-align: center;
   margin-bottom: 60px;
   
}
/* Input */
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
   width: 540px;
}
.MuiFormControl-root.MuiTextField-root{
   margin: 15px;
}

/* Button */

.MuiButtonBase-root.MuiButton-root.MuiButton-text{
   width: 540px;
   background-color: orangered;
   color: white;
   font-size: 16px;
   font-weight: 600;
   margin: 15px;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text:hover{
   background-color: orange;
   font-weight: 900;
}
/* .btnlogin{
   width: 540px;
   background-color: orangered;
   color: white;
   font-size: 16px;
   font-weight: 600;
   margin: 20px;
}
.btnlogin:hover{
   background-color: orange;
   font-weight: 900;
} */
@media screen and (max-width: 1000px) {
   .ContainerLoginAdmin{
      width: auto;
   }
   .LoginAdmin {
      float: none;
      width: 100%;
      border: none;
      margin: 0;
   }
   .MuiButtonBase-root.MuiButton-root.MuiButton-text, .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl{
      width: 380px;
   }
 }