.ContainerAdminOrder{
   width: 100%;
   margin: 0;
}
.OptionOrder{
   width: 241px ;
   margin: auto;
}

.options{
   width: 235px;
}

.ContainerTable{
   margin-top: 20px;
   margin-bottom: 100px;
}
.divInfor{
   float: right;
}
.navtab{
   width: 270px;
   /* color: white; */
   text-align: center;
   margin-right: 5px;
}
