.wrapper{
   display: grid;
   /* background-color: white; */
   grid-column-gap: 50px;
   marginTop: 10px;
   /* padding: 36px; */
   margin-bottom: 100px;
}
.grid-div1{
   /* border: 1px solid black; */
   /* grid-row: 1 /2; */
   /* align-self: center; */
   /* padding: 80px; */
   /* justify-content: center; */
   margin: 100px;
}
.grid-div2{
   /* border: 1px solid black; */
   /* grid-row: 1 /2; */
   /* align-self: center;
   justify-content: center; */
   margin: 100px;
}
.navtab{
   width: 270px;
   /* color: white; */
   text-align: center;
   margin-right: 5px;
}
.tiltle{
   display: grid;
   grid-row: 1;
   justify-content: center;
   margin-bottom: 50px;
}
.input-select{
   /* border: 1px solid black; */
   display: grid;
   /* width:300px; */
   justify-content: center;
   margin-bottom: 60px;
   /* border: 1px solid black */ 
}
.pieChart{
   display: grid;
   grid-template-columns: auto auto;
   /* border: 1px solid black; */
   height: auto;
   width: 100%;
   mamrgin-top: 100px;
   margin-bottom: 200px;
   padding-bottom: 50px;
   padding-top: 50px;
   background-color: white;
}
.totalMoney{
   /* padding: auto; */
   margin: auto;
   width: 50%;
   /* border: 1px solid black */
}
.totalWork{
   /* padding: auto; */
   margin: auto;
   width: 50%;
   /* border: 1px solid black */
}
.wrapPie{
   margin: auto;
   height: 360px;
   width: 360px;
   /* margin: auto; */
}

